@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.Todo_Main_Container{
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
}
.Todo_Content_Container{
    background-color: #F8FAFB;
    width: 100%;
    padding: 20px;
    position: relative;
    height:100vh;
}
.Todo_Header{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    width: 100%;
}
.Home_link{
    text-decoration: none;
}
.list_image{
    width:55px;
    height: 55px;
    text-align: center;
    align-items: center;
    background-color: white;
    line-height: 44px;
    border-radius: 50%;
}
#list_icon {
    color: #3f51b5;
    width: 60%;
    height: 60%;
    vertical-align: middle;
}
.Todo_Head{
    padding-left: 20px;
    width: inherit;
}
.Todo_App{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: #283593;
}
.Todo_Subhead{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.87);
}
.form_input{
    width: 100%;
    
}
.form_input1{
    width: fit-content;
    color: rgba(0, 0, 0, 0.87);
    padding: 12px;
    font-size: 28px;
    border-radius: 2px;
    width: 100%;
    word-break: normal;
    align-items: center;
    display: flex;
    width: inherit;
    height: 60px;
}
.input_Container{
    border: none;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgb(80 80 80 / 20%), 0px 2px 2px 0px rgb(80 80 80 / 14%), 0px 3px 1px -2px rgb(80 80 80 / 12%);
    border-radius: 6px;
}
.input_div{
    width: 85%;
}
.input_field{
    border: none;
    outline: none;
    width: -webkit-fill-available;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: -internal-light-dark(black, white);
    font-weight: 200;
}
.submit_but{
    border: none;
    outline: none;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
    height: 32px;
    padding: 0px 12px;
    cursor: pointer;
    color: grey;
}
.text_terms{
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
    padding: 4px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
.link_terms{
    color:#2196f3;

}





/* styles of todo log */


.todo_class{
    background-color: white;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.del_but{
    border:none;
    outline: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0 8px;
    padding: 8px;
    background: rgb(237, 237, 237);
    color: rgba(0, 0, 0, 0.54);
}
.to_log{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
}
.tick_but{
    width: 5%;
    text-align: center;
}
.cont_to{
    width: 75%;
    font-size: 1rem;
}
.icons_cont{
    width: 20%;
    text-align: end;
    padding: 0px 8px
}




/*media queries for laptop more than 1200px */
@media only screen and (min-width:1200px){
    .Todo_Empty{
        max-width: 240px;
        width: 242px;
    }
    .cont_to{
        padding: 0px 6px;
    }
    .tick_but{
        text-align: center;
    }
    .Todo_Content_Container{
        
    }
}

@media only screen and (max-width:1200px){
    .Todo_Empty{
        max-width: 240px;
        width: 240px;
    }
    .tick_but{
        text-align: center;
        width: 6%;
    }
    .cont_to{
        padding: 0px 18px;
    }
    .Todo_Content_Container{
        
    }

}

@media only screen and (max-width:992px){
    .Todo_Content_Container{
        width: -webkit-fill-available;
        left: 0;
        
    }
    .submit_but{
        display: none;
    }
    .input_field{
        font-size: 18px;
    }
    .tick_but {
        width: 8%;
    }

}

@media only screen and (max-width:768px){
    .form_input1 {
        padding: 12px;
    }
    .input_field{
        font-size: 18px;
        padding: 0;
    }
    .tick_but {
        width: 10%;
    }
    .icons_cont {
        width: 30%;
    }

}

@media only screen and (max-width:576px){
    .list_image{
        display: none;
    }
    .Todo_Head{
        text-align: center;
    }
    .Todo_Header{
        justify-content: center;
    }
    .text_terms{
        text-align: left;
    }
    .Todo_Subhead{
        font-size: 0.9rem;
    }
    .input_field{
        font-size: 18px;
        padding: 0;
    }
    .tick_but {
        width: 10%;
    }
    .icons_cont {
        width: 46%;
    }
    .Todo_Header{
        display: grid;
        text-align: center;
    }
    .Todo_Head{
        padding-left: 0px;
    }
}